* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    color: #fff;
    background-color: #2e80ce;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    border-radius: 999px;
    border: 1px solid #2e80ce;
    min-width: 205px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    inset: 11px 3px 3px 11px;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
}

.logo__text {
    color: #ffffff;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_list {
    display: flex;
}

.header-action__login,
.navbar_link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar_link:hover,
.navbar_link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar_link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 167%; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 167%; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    z-index: 1;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
